<html xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <div th:replace="fragments/header" />
    <title>LMS - Dashboard</title>
</head>
<body>
<!-- Content -->

<!-- / Content -->

<div th:replace="fragments/footer"/>

<!-- Page JS -->
<script src="../assets/js/dashboards-analytics.js"></script>
</body>
</html>